* {
  font-family: 'Quicksand', sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.subtitle>*>:first-child {
  font-size: unset;
  /* color: unset; */
}
.subtitle a {
  color: lightgrey;
}

.link-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite {
  cursor: pointer;
  position: absolute;
  margin-left: -20px;
  color: lightgray;
}

.favorite:hover {
  color: gray;
}

.favorite.active {
  color: darkorange;
}

.app {
  width: 180px;
  cursor: pointer;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

svg.icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

svg.icon path {
  stroke-width: 15px;
}

svg.logo {
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.empty {
  text-align: center;
}